<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gh.ttms.dao.CartMapper">
    <insert id="putMovieToCart" parameterType="gh.ttms.pojo.param.Stringstring">
        insert into cart (username, moviename) values (#{name},#{url});
    </insert>
    <select id="getMovieFromCart" parameterType="String" resultType="String">
        select moviename from cart where username=#{username};
    </select>
    <delete id="delMovieFromCart" parameterType="gh.ttms.pojo.param.Stringstring">
        delete from cart where username=#{name} and moviename=#{url};
    </delete>
</mapper>