<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gh.ttms.dao.MovieMapper">
    <insert id="addMovie" parameterType="Movie">
        insert into movie(moviename, photo, type, duration, price, introduction, release_date,score,author) values (#{moviename},#{photo},#{type},#{duration},#{price},#{introduction},#{release_date},#{score},#{author});
    </insert>
    <select id="getMovieByName" parameterType="String" resultType="Movie">
        select moviename, photo, type, duration, price, introduction, release_date as releaseDate,score,author from movie where moviename=#{moviename};
    </select>
</mapper>