<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gh.ttms.dao.SeatMapper">
    <insert id="addSeat" parameterType="gh.ttms.pojo.Seat">
        insert into seat(seat_id, seat_row, seat_column, status, use_date) VALUES (#{seatID},#{seatRow},#{seatColumn},#{status},#{useDate});
    </insert>
    <select id="getSeat" parameterType="" resultType=""></select>
</mapper>